.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

/*header*/
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .menu {
    font-family: "Josefin Slab", serif;
    background-color: #dedeca; }
    header .menu .menu-dos {
      display: flex; }
      header .menu .menu-dos .logo {
        width: 5rem;
        height: 5rem;
        margin-left: 1rem; }
      header .menu .menu-dos .button {
        color: #6a330c; }
      header .menu .menu-dos .submenu ul li {
        border-radius: 5px;
        transition: 0.3s;
        text-align: center;
        color: #6a330c;
        font-size: 1.2rem; }
      header .menu .menu-dos .submenu ul li:hover {
        background-color: #b1b18c;
        color: #6a330c;
        transition: 0.5s; }

/*main*/
main {
  font-family: "Josefin Slab", serif;
  background-color: #f8f8e8;
  height: 90vh; }
  main .contenedor {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 50%;
    margin: 1rem 3rem 0rem 3rem;
    align-content: space-evenly; }
    main .contenedor .vivero-dos {
      display: none; }
    main .contenedor .vivero-tres {
      display: none; }
    main .contenedor div p {
      text-align: center;
      color: #6a330c;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.5rem; }
    main .contenedor img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0px 10px 10px rgba(168, 166, 166, 0.5); }

/*footer*/
footer {
  background-color: #dedeca;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .derechos {
    font-size: 0.7rem;
    color: #6a330c;
    text-align: end; }
  footer img {
    width: 2rem;
    height: 2rem; }

.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

/*css vivero*/
/*main*/
header .menu {
  font-family: "Josefin Slab", serif;
  background-color: #dedeca; }
  header .menu .menu-dos {
    display: flex; }
    header .menu .menu-dos img {
      height: 5rem;
      width: 5rem;
      margin-left: 1rem; }
    header .menu .menu-dos .button {
      color: #6a330c; }
  header .menu .submenu ul li {
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    color: #6a330c;
    font-size: 1.2rem; }
  header .menu .submenu ul li:hover {
    background-color: #b1b18c;
    color: #6a330c;
    transition: 0.5s; }

.main-dos {
  font-family: "Josefin Slab", serif;
  background-color: #f8f8e8;
  height: 310vh; }
  .main-dos .main-vivero {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80%);
    margin: 1rem 2rem 0rem 2rem; }
    .main-dos .main-vivero .texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      gap: 1rem; }
      .main-dos .main-vivero .texto p {
        color: #6a330c;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.5rem; }
      .main-dos .main-vivero .texto .img-produccion img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/*footer*/
footer .contenedor-footer {
  padding-bottom: 1rem; }

.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

/*css variedades*/
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .menu {
    font-family: "Josefin Slab", serif;
    background-color: #dedeca; }
    header .menu .menu-dos {
      display: flex; }
      header .menu .menu-dos img {
        height: 5rem;
        width: 5rem;
        margin-left: 1rem; }
      header .menu .menu-dos .button {
        color: #6a330c; }
    header .menu .submenu ul li {
      color: #6a330c;
      font-weight: bold;
      border-radius: 5px;
      transition: 0.3s;
      text-align: center; }
      header .menu .submenu ul li a {
        color: #6a330c; }
    header .menu .submenu ul li:hover {
      background-color: #5e5e25;
      color: #f0f0ba;
      transition: 0.5s; }

.main-tres {
  padding-bottom: 3rem;
  height: 370vh;
  font-family: "Josefin Slab", serif;
  background-color: #f8f8e8; }
  .main-tres .variedades-cactus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 15%);
    margin: 4rem 2rem 1rem 2rem;
    gap: 3.5rem;
    justify-items: center;
    align-items: center;
    height: 340vh; }
  .main-tres .especies {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1.5rem; }
    .main-tres .especies .img-desktop {
      display: none; }
      .main-tres .especies .img-desktop img {
        display: none; }
    .main-tres .especies .cartelito {
      margin-top: 1rem; }
      .main-tres .especies .cartelito a {
        transition: 0.5s; }
      .main-tres .especies .cartelito a:hover {
        background-color: #5e5e25;
        color: #f0f0ba;
        transition: 0.5s; }

.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

/*css tienda*/
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .menu {
    font-family: "Josefin Slab", serif;
    background-color: #dedeca; }
    header .menu .menu-dos {
      display: flex; }
      header .menu .menu-dos img {
        height: 5rem;
        width: 5rem;
        margin-left: 1rem; }
      header .menu .menu-dos .button {
        color: #6a330c; }
    header .menu .submenu ul li {
      color: #6a330c;
      font-weight: bold;
      border-radius: 5px;
      transition: 0.3s;
      text-align: center; }
      header .menu .submenu ul li a {
        color: #6a330c; }
    header .menu .submenu ul li:hover {
      background-color: #5e5e25;
      color: #6a330c;
      transition: 0.5s; }

.main-cuatro {
  font-family: "Josefin Slab", serif;
  height: 390vh; }
  .main-cuatro .variedades-cactus {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 15%);
    margin: 4rem 2rem 1rem 2rem;
    gap: 3.5rem;
    justify-items: center;
    align-items: center;
    height: 340vh; }
    .main-cuatro .variedades-cactus .especies {
      display: grid;
      justify-items: center;
      align-items: center;
      gap: 1.5rem; }
      .main-cuatro .variedades-cactus .especies .cartelito {
        margin-top: 1.5rem; }
        .main-cuatro .variedades-cactus .especies .cartelito a {
          transition: 0.5s; }
        .main-cuatro .variedades-cactus .especies .cartelito a:hover {
          background-color: #5e5e25;
          color: #f0f0ba;
          transition: 0.5s;
          box-shadow: 8px 8px 8px rgba(168, 166, 166, 0.7); }
      .main-cuatro .variedades-cactus .especies .carrito a {
        transition: 0.5s; }
      .main-cuatro .variedades-cactus .especies .carrito:hover a {
        background-color: #5e5e25;
        color: #f0f0ba;
        transition: 0.5s;
        box-shadow: 5px 5px 8px rgba(168, 166, 166, 0.7); }

.pago {
  font-family: "Josefin Slab", serif;
  background-color: #f8f8e8;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pago h3 {
    text-align: center;
    font-weight: bold;
    color: #5e5e25; }
  .pago ul li {
    color: #5e5e25;
    font-weight: bold; }

.main-tres .especies .cartelito a, .main-cuatro .variedades-cactus .especies .cartelito a, .main-cuatro .variedades-cactus .especies .carrito a {
  font-size: smaller;
  background-color: #c0c081;
  color: #5e5e25;
  text-decoration: none;
  border-radius: 10%;
  padding: 0.7rem;
  font-weight: 600; }

main h1, main h2, .main-dos h1, .main-dos h2, .main-tres h1, .main-tres h2, .main-cuatro h1, .main-cuatro h2, .main-cinco h1, .main-cinco h2 {
  text-align: center;
  padding-top: 1rem;
  font-weight: 900;
  font-size: 2rem;
  color: #6a330c;
  text-shadow: 1px 2px 2px rgba(168, 166, 166, 0.3); }

.main-dos .main-vivero .texto .img-produccion img, .main-tres .especies .img-mobile img, .main-cuatro .variedades-cactus .especies img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 7px rgba(168, 166, 166, 0.3); }

/*css contacto*/
header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header .menu {
    font-family: "Josefin Slab", serif;
    background-color: #dedeca; }
    header .menu .menu-dos {
      display: flex; }
      header .menu .menu-dos img {
        height: 5rem;
        width: 5rem;
        margin-left: 1rem; }
      header .menu .menu-dos .button {
        color: #6a330c; }
    header .menu .submenu ul li {
      color: #6a330c;
      font-weight: bold;
      border-radius: 5px;
      transition: 0.3s;
      text-align: center; }
      header .menu .submenu ul li a {
        color: #6a330c; }
    header .menu .submenu ul li:hover {
      background-color: #5e5e25;
      color: #6a330c;
      transition: 0.5s; }

.main-cinco {
  height: 120vh;
  font-family: "Josefin Slab", serif; }
  .main-cinco .contacto {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 35%;
    gap: 2rem;
    margin: 2rem;
    justify-content: center; }
    .main-cinco .contacto .telefono {
      justify-content: center;
      display: flex;
      gap: 1rem;
      padding-left: 1rem;
      margin-top: 2rem; }
      .main-cinco .contacto .telefono .iconos img {
        width: 1.5rem;
        height: 1.5rem; }
    .main-cinco .contacto p {
      color: #5e5e25;
      font-size: 1.2rem;
      font-weight: 600; }
    .main-cinco .contacto .email {
      justify-content: center;
      display: flex;
      gap: 1rem;
      padding-left: 1rem; }
      .main-cinco .contacto .email .iconos img {
        width: 1.5rem;
        height: 1.5rem; }
    .main-cinco .contacto .ubicacion {
      justify-content: center;
      display: flex;
      gap: 1rem;
      padding-left: 1rem; }
      .main-cinco .contacto .ubicacion .iconos img {
        width: 1.5rem;
        height: 1.5rem; }
    .main-cinco .contacto .facebook {
      justify-content: center;
      display: flex;
      gap: 1rem;
      padding-left: 1rem; }
      .main-cinco .contacto .facebook .iconos img {
        width: 1.5rem;
        height: 1.5rem; }
    .main-cinco .contacto .instagram-contacto {
      justify-content: center;
      display: flex;
      gap: 1rem;
      padding-left: 1rem; }
      .main-cinco .contacto .instagram-contacto .iconos img {
        width: 1.5rem;
        height: 1.5rem; }
    .main-cinco .contacto .formulario form {
      display: flex;
      flex-direction: column;
      color: #5e5e25;
      font-size: 1.2rem;
      font-weight: 600; }
      .main-cinco .contacto .formulario form fieldset {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .main-cinco .contacto .formulario form fieldset legend {
          text-align: center;
          font-weight: 900;
          font-size: 1.5rem;
          color: #6a330c; }
        .main-cinco .contacto .formulario form fieldset label {
          display: block;
          color: #6a330c; }
        .main-cinco .contacto .formulario form fieldset .modificar-ancho {
          width: 250px; }
        .main-cinco .contacto .formulario form fieldset .consulta {
          padding: 3rem; }
        .main-cinco .contacto .formulario form fieldset .enviar input {
          color: #6a330c;
          font-weight: 600;
          background-color: #c0c081;
          border: none;
          border-radius: 5%;
          transition: 0.5s; }
        .main-cinco .contacto .formulario form fieldset .enviar input:hover {
          background-color: #5e5e25;
          color: #f0f0ba;
          transition: 0.5s; }
    .main-cinco .contacto .mapa {
      display: none; }

/*mq tablet*/
/*home*/
@media screen and (min-width: 600px) {
  header .menu .submenu img {
    height: 4rem;
    width: 4rem; }
  main {
    height: 100vh; }
    main .contenedor {
      grid-template-columns: 0.6fr 1fr;
      grid-template-rows: 50% 55%;
      gap: 1rem;
      margin-top: 4rem; }
      main .contenedor .vivero-dos {
        display: block;
        grid-column: span 2;
        margin-top: 2rem; }
        main .contenedor .vivero-dos div p {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.8rem; }
  footer div img {
    width: 2rem;
    height: 2rem; }
  /*vivero*/
  /*main*/
  .main-dos {
    height: 260vh; }
    .main-dos .main-vivero {
      height: 100vh;
      grid-template-rows: repeat(4, 55%);
      gap: 1rem; }
      .main-dos .main-vivero .texto {
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: 60%;
        height: 70vh;
        justify-content: center;
        align-content: center; }
        .main-dos .main-vivero .texto p {
          text-align: center;
          line-height: 1.5rem;
          font-size: 1.2rem; }
        .main-dos .main-vivero .texto .img-produccion img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
  /*footer*/
  footer div img {
    width: 3rem;
    height: 3rem; }
  /*variedades*/
  .main-tres {
    height: 135vh; }
    .main-tres .variedades-cactus {
      height: 105vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 45% 45%;
      gap: 2rem; }
      .main-tres .variedades-cactus .especies .img-mobile img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  /*tienda*/
  .main-cuatro {
    height: 130vh; }
    .main-cuatro .variedades-cactus {
      height: 105vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 45% 45%;
      gap: 1rem;
      padding: 1rem 2rem 4rem 2rem; }
      .main-cuatro .variedades-cactus .especies img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
  .pago {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  /*contacto*/
  .main-cinco {
    height: 140vh; }
    .main-cinco .contacto {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80% 70%;
      justify-items: center;
      align-items: start; }
      .main-cinco .contacto .formulario {
        padding-top: 1.5rem; }
      .main-cinco .contacto .mapa {
        display: block;
        grid-column: span 2;
        padding-top: 6rem; } }

/*mq desktop*/
/*home*/
@media screen and (min-width: 1024px) {
  .menu .menu-dos .submenu {
    display: flex;
    justify-content: center; }
    .menu .menu-dos .submenu .listas {
      gap: 3rem; }
  main {
    height: 130vh; }
    main h1 {
      font-size: 3rem; }
    main .contenedor {
      margin-top: 2rem;
      height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 35% 55%; }
      main .contenedor .vivero {
        grid-column: span 2; }
      main .contenedor .vivero-dos {
        grid-column: span 2;
        margin-top: 1.5rem; }
      main .contenedor .vivero-tres {
        display: block;
        grid-column: span 1;
        margin-top: 1.5rem; }
      main .contenedor div p {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem; }
  footer div {
    align-items: center; }
    footer div img {
      width: 3rem;
      height: 3rem; }
  /*vivero*/
  /*main*/
  .main-dos {
    height: 190vh; }
    .main-dos h1 {
      font-size: 3rem; }
    .main-dos .main-vivero {
      height: 130vh;
      margin: 2rem 4rem 2rem 4rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 65% 40%;
      gap: 1rem; }
      .main-dos .main-vivero .texto-uno {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 70%;
        height: 80vh;
        grid-column: span 3; }
      .main-dos .main-vivero .texto-dos {
        grid-template-columns: 0.8fr;
        grid-template-rows: 50% 80%;
        padding-top: 7rem; }
      .main-dos .main-vivero .texto-tres {
        grid-template-columns: 0.8fr;
        grid-template-rows: 50% 80%;
        padding-top: 7rem; }
      .main-dos .main-vivero .texto-cuatro {
        grid-template-columns: 0.8fr;
        grid-template-rows: 50% 80%;
        padding-top: 7rem; }
      .main-dos .main-vivero .texto p {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.5rem; }
  /*variedades*/
  .main-tres {
    height: 170vh; }
    .main-tres h1 {
      font-size: 3rem; }
    .main-tres .variedades-cactus {
      height: 120vh;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 55%);
      gap: 2rem; }
      .main-tres .variedades-cactus .especies {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr;
        grid-template-rows: 40% 40% 10; }
        .main-tres .variedades-cactus .especies .img-desktop {
          display: block;
          transition: 0.5s; }
          .main-tres .variedades-cactus .especies .img-desktop img {
            display: block;
            margin-bottom: 0.5rem;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            box-shadow: 0px 15px 15px rgba(168, 166, 166, 0.7); }
        .main-tres .variedades-cactus .especies .img-desktop:hover {
          transform: scale(1.2);
          transition: 0.5s; }
        .main-tres .variedades-cactus .especies .img-mobile {
          display: none; }
        .main-tres .variedades-cactus .especies .cartelito {
          grid-column: span 2;
          margin-bottom: 3rem; }
  /*tienda*/
  .main-cuatro {
    height: 145vh; }
    .main-cuatro h1 {
      font-size: 3rem; }
    .main-cuatro .variedades-cactus {
      height: 120vh; }
      .main-cuatro .variedades-cactus .especies img {
        transition: 0.5s; }
      .main-cuatro .variedades-cactus .especies img:hover {
        transform: scale(1.2);
        transition: 0.5s; }
  /*contacto*/
  .main-cinco {
    height: 130vh; }
    .main-cinco h1 {
      font-size: 3rem; }
    .main-cinco .contacto {
      padding-top: 3rem; }
      .main-cinco .contacto p {
        font-size: 1.5rem; }
      .main-cinco .contacto .formulario label {
        font-size: 1.3rem; } }
